.DS_Store
./.DS_Store
.idea

/admin-service/.gradle/
/admin-service/.idea/
/admin-service/build/

/config-service/.gradle/
/config-service/build/
/config-service/gradle/
/config-service/logs/

/docker-compose-local/rabbitmq/data/
/docker-compose-local/postgres/data/
/docker-compose-local/cassandra/data/

/gateway-service/.gradle/
/gateway-service/build/
/gateway-service/gradle/
/gateway-service/logs/

/transport-service/.gradle/
/transport-service/.idea/
/transport-service/build/

/kubernetes/.idea/
/docker-compose-local/nginx/static/