.DS_Store
./.DS_Store
.idea

/admin-service/.gradle/
/admin-service/.idea/
/admin-service/build/

/config-service/.gradle/
/config-service/build/
/config-service/gradle/
/config-service/logs/

/gateway-service/.gradle/
/gateway-service/build/
/gateway-service/gradle/
/gateway-service/logs/

/transport-service/.gradle/
/transport-service/.idea/
/transport-service/build/

/rest-queue-metrics-adapter/.gradle/
/rest-queue-metrics-adapter/build/

/kubernetes/.idea/
/raw-metrics-consumer/.gradle/
/raw-metrics-consumer/build/

/docker-compose-local/rabbitmq/data/
/docker-compose-local/postgres/data/
/docker-compose-local/cassandra/data/
/docker-compose-local/influxdb/data/
/docker-compose-local/redis/data/
/docker-compose-local/nginx/static/
/docker-compose-local/kafka/data/
/docker-compose-local/zookeeper/data/
