<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="app-name">transport-service</Property>
        <Property name="console.thresholdFilter">ALL</Property>
        <Property name="pattern">%style{%d{ISO8601}} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %style{%notEmpty{[${app-name},%X{traceId},%X{spanId},%X{spanExportable}]}}{bright,green} %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <ThresholdFilter level="${console.thresholdFilter}"/>
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="com.rb.alwaysontheroad.transportservice" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.zalando.logbook.Logbook" level="TRACE" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.springframework.cloud.config" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.springframework.jdbc" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>
</Configuration>